.card {
    margin: 10px auto;
    padding: 30px 10px 10px 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.239);
}